@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: #FAFAFA;
}

.boxprincipal {
    width: 342px;
    height: 640px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 165px;
    height: 63px;
}

.texto1 {
    width: 209px;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    color: #909090;
}

.box {
    width: 209px;
    height: 38px;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}

.box h3 {
    width: 26px;
    height: 15px;
    color: #afafafe3;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}

.box1 {
    width: 209px;
    height: 38px;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}

.box1 h3 {
    width: 209px;
    height: 38px;
    color: #afafafe3;
    font-size: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}

.box2 {
    width: 209px;
    height: 38px;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}

.box2 h3 {
    width: 209px;
    height: 38px;
    color: #afafafe3;
    font-size: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}

.box3 {
    width: 209px;
    height: 38px;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}

.box3 h3 {
    width: 209px;
    height: 38px;
    color: #afafafe3;
    font-size: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}

.box4 button {
    width: 209px;
    height: 38px;
    background-color: #2686CC;
    border-radius: 2px;
    color: #FFFFFF;
}

.texto2 {
    width: 254px;
    font-size: 9px;
    text-align: center;
    color: #909090;
}

.boxprincipal2 {
    height: 75px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
}

.boxprincipal2 p {
    height: 16px;
    font-size: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #353535;
}

.final {
    width: 342px;
    height: 99px;
}

.textfinal p {
    height: 16px;
    font-size: 13px;
    color: #353535;
    text-align: center;
}

.img{
    display: flex;
    justify-content: space-around;
}